$primary-color: #ff7012;
.product__wrapper {
  display: block;
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  .product__img > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .product__bottom {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    .product__description {
      // background-color: red;
      .product__name {
        font-size: 17px;
        font-weight: 600;
      }
      .product__price {
        font-size: 17px;
        font-weight: 600;
      }
    }
  }
  .product__cart {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #f2f2f2;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    span {
      color: #8d8d8d;
      line-height: 40px;
    }
    &:hover {
      background-color: $primary-color;
      span {
        color: white;
      }
    }
  }
}
