
$orange-slider-color: #ffb186;
$gray-text-color: #505050;

.category__container {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  // background-color: red;
  & > p {
    color: $gray-text-color;
    margin: 20px 0;
  }
  .category__wrapper {
    font-size: 18px;
    .list__item {
      list-style: none;
      .child__item {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e3e3e3;
        .item {
          font-size: 13px;
          font-weight: 300;
        }
        .quantity {
          font-size: 13px;
          font-weight: 600;
          background-color: #f3f3f3;
          color: #9a9a9a;
          padding: 0px 10px;
          border-radius: 20px;
        }
      }
    }
  }
 
  .price__label__wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: $gray-text-color;
      .price {
        font-weight: 600;
      }
    }
  }
  @media screen and (max-width: 675px) {
    // width: 100% !important;
  }
  
}
