$gray-titlebar-color: #fbfbfb;
$primary-color: #ff7012;
.footer__container {
    margin-top: 200px;
    position: relative;
    bottom: 0;
    width: 100%;
    ul {
        list-style: none;
        li{
            padding: 7px 0;
        }
    }
    .footer__wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $gray-titlebar-color;
        padding: 100px 0;
        // background-color: gray
        .footer__el {
            // background-color: red;
            margin: 10px 100px;
        }
        .footer__heading{
            font-size: 15px;
            font-weight: 600;
            margin: 10px 0;
        }
        .footer__title{
            font-size: 13px;
        }
        .footer__listitem{
            font-size: 13px;
        }
        .payment__method{
            max-width: 300px;
            .payment__icon{
                display: flex;
                align-items: center;
                li:first-child{
                    margin-right: 20px;
                }
            }
        }
        .shop__guide {
            max-width: 300px;

        }
        .company {
            max-width: 300px;

        }
       
    }
    .footer__nocopyright{
        padding: 20px 0;
        text-align: center;
        background-color: $primary-color;
        p{
            color: #fbfbfb;
        }
    }
    @media screen and (max-width: 1150px) {
        .footer__wrapper{
            flex-direction: column;
            // align-items: center;
            justify-content: center;
        }
    }
}