@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
$primary-color: #ff7012;
.navbar {
  font-size: 16px;
  margin: 0 20px;
  .navbar__inner {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      font-size: 35px;
      font-family: "Satisfy", cursive;
      user-select: none;
      cursor: pointer;
      &:hover {
        color: #ff7012;
      }
    }
    // danh sách thẻ link
    .list__links {
      a {
        font-size: 15px;
        font-weight: 550;
        padding: 25px 10px;
        color: black;
        text-decoration: none;
        // background-color: red;
      }
      .active {
        color: $primary-color;
      }
    }
    // danh sách icons
    .list__icons {
      .social {
        .cart__icon {
          .cart__count {
            padding: 4px 4px;
            height: 20px;
            width: 20px;
            font-size: 10px;
            font-weight: 500;
            border-radius: 100px;
            background-color: #ff7012;
          }
        }
      }
      .toggle__menu span {
        color: $primary-color;
      }
      // ẩn icon menu
      .toggle__menu {
        visibility: hidden;
      }
    }
  }
}
// width : 675px hoac 810
@media screen and (max-width: 810px) {
  .navbar__inner {
    .list__links {
      position: absolute;
      top: 70px;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      background-color: lighten($color: #ff7012, $amount: 40%);

      a {
        border-bottom: 1px solid ff7012;
        text-align: center;
        color: black !important;
        &:hover {
          color: white !important;
          background-color: $primary-color;
        }
      }
      .active {
        color: #ff7012 !important;
      }
    }
  }
  .toggle__menu {
    // hiện icon menu
    visibility: visible !important;
  }
}
