.shop__container {

    .wrapper__product {
      .filter__product {
        // remove arrow input select
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
          }
        #sort{
            height: 50px;
            padding: 0 10px;
            outline: none;  
            border: 1px solid #e5e5e5;
            font-size: 16px;
            border-radius: 50px;
        }
        option {
    
        }
      }
      .list__product {
      }
    }
    .shop__inner {
      margin: 30px 50px;
      display: flex;
      justify-content: space-between;
    }
    .shop__categories{
        // position: absolute;
    }
}
