.shop__container {
  .wrapper__product {
    .filter__product {
      // remove arrow input select
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: "";
      }
      #sort {
        height: 50px;
        padding: 0 10px;
        outline: none;
        border: 1px solid #e5e5e5;
        font-size: 16px;
        border-radius: 50px;
      }
    }
   }
  .shop__inner {
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
    .list__product{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10px;
      row-gap: 10px;
      .product__wrapper{
        background-color: rebeccapurple;
        width: 100%;
        .product__img > img{
          width: 100%;
        }
        .product__bottom{
          display: flex;
          justify-content: space-around;
          .product__description{
            .product__name{

            }
            .product__price{

            }
          }
        }
      }

    }
    .shop__categories{
      // background-color: red;
      padding: 0 20px;
    }
  }






  // @media screen and (max-width: 675px) {
  //   .shop__inner {
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }
  @media screen and (max-width: 1000px) {
    .shop__inner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .list__product{
        grid-template-columns: repeat(1, 1fr) !important;
       
      }
    }
    
  }
}
