$orange-slider-color: #ffb186;
$gray-text-color: #505050;

.slider__price__wrapper {
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 7px;
      border-radius: 5px;
      background: #ebebeb;
      outline: none;
      opacity: 0.9;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
    }

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid #fc8646;
      background: white;
      cursor: ew-resize;
    }

    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $orange-slider-color;
      cursor: ew-resize;
    }
  }