@import url("https://fonts.googleapis.com/css2?family=Thasadith&display=swap");
$gray-titlebar-color: #fbfbfb;

.titlebar{
    &__container{
        
    }
    &__inner{
        height: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $gray-titlebar-color;

        .name__page{
            margin-left: 70px;
        }
        .current__link{
            margin-right: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            .prev{
                font-family: "Thasadith", sans-serif !important;
                color: #8d8d8d;
            }
            .arrow{
                color: #686868;
                font-size: 20px;
            }
            .current{
                font-family: "Thasadith", sans-serif !important;
                // font-size: 20px;
                font-weight: 700;
                color: #686868;
            }
        }
    }
}